html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto Condensed";
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.6px;
  color: #242121;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.title {
  font-family: "Raleway";
  font-weight: 600;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.6px;
  color: #01353e;
  text-align: center;
  position: relative;
  margin-bottom: 100px;
}

.title::after {
  content: "/";
  font-size: 72px;
  line-height: 85px;
  color: #00b2a0;
  position: absolute;
}

.btn {
  display: block;
  max-width: 350px;
  font-weight: 400;
  font-size: 24px;
  line-height: 18px;
  text-align: center;
  color: #242121;
  border: 1px solid #c4c4c4;
  padding: 24px 90px;
  margin: 0 auto;
}

.section {
  padding: 200px 0;
}

.header {
  background: url(../images/header/header-bg.jpg) no-repeat top center/cover;
  padding: 35px 0 0;
}

.header__top {
  display: flex;
  align-items: center;
}
.menu__btn {
  display: none;
}
.menu__list {
  display: flex;
}
.header__menu {
  margin: 0 auto;
}
.menu__item + li {
  margin-left: 42px;
}
.menu__link {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  padding: 0 3px 5px;
  position: relative;
}
.menu__link:hover {
  border-bottom: 1px solid #00b2a0;
}

.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: calc(100vh - 98px);
}

.header__title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 200px;
  line-height: 235px;
  color: #0d302c;
  margin-top: auto;
}

.header__subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #000;
  margin-bottom: auto;
}

.header__icon {
  margin-bottom: 98px;
}

.about {
  padding-bottom: 170px;
}

.about__content {
  display: flex;
  flex-wrap: wrap;
}

.about__text {
  max-width: 480px;
  margin-bottom: 30px;
  margin-right: 120px;
}

.benefits {
  background: #f8f8f8;
}

.benefits__items {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.benefits__item {
  width: 350px;
}

.benefits__item-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.benefits__item-img {
  width: 50px;
  height: 50px;
}

.benefits__item-title {
  max-width: 155px;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  padding-left: 10px;
}

.expertise__inner {
  display: flex;
}

.expertise__info {
  margin-right: 300px;
  flex: none;
}

.expertise__item {
  display: block;
  max-width: 293px;
  margin-bottom: 10px;
}
.expertise__item-img {
  display: inline-block;
}
.expertise__item-inner {
  display: flex;
}
.expertise__item-inner span {
  display: block;
  font-weight: 400;
  font-size: 24px;
  line-height: 18px;
  padding-left: 10px;
}

.expertise__text {
  margin-bottom: 30px;
}
.expertise__item:last-child,
.expertise__text:last-child {
  margin-bottom: 0;
}
.education {
  position: relative;
  padding: 200px 0 350px;
}
.education__img {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 850px;
  object-fit: cover;
}
.education__title {
  text-align: left;
}

.education__content {
  max-width: 507px;
}

.education__text {
  margin-bottom: 30px;
}

.gallery {
  padding-bottom: 200px;
}

.gallery__title {
  margin-bottom: 210px;
}

.gallery__filter-btns {
  margin-bottom: 50px;
}

.gallery__filter-btn {
  font-weight: 400;
  font-size: 24px;
  line-height: 18px;
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
  margin-right: 20px;
}

.gallery__filter-btn--active {
  color: #00b2a0;
}

.gallery__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-bottom: 50px;
}

.gallery__add {
  margin-bottom: 200px;
}
.blockquote {
  background: #f8f8f8;
}

.blockquote__author {
  display: block;
  font-style: italic;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  text-align: right;
  margin-right: -145px;
}
.gallery__blockquote {
  max-width: 575px;
  font-style: italic;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  padding: 80px 0;
  margin: 0 auto;
}

.video-popup {
  margin: 200px 0;
  background-image: url(../images/video-popup/video-popup-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-numbers {
  display: flex;
  justify-content: space-around;
}

.gallery-numbers__item {
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  color: #01353e;
  text-align: center;
}

.gallery-numbers__item span {
  display: block;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: #242121;
}
.blog {
  padding-bottom: 200px;
}
.blog__title {
  margin-bottom: 230px;
}

.blog-slider__item {
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
}

.blog-slider__title {
  max-width: 600px;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  color: #ffffff;
}
.blog-slider__subtitle {
  display: block;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
}
.blog-slider__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  height: 800px;
}

.blog-slider .slick-dots {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 90px;
}
.blog-slider .slick-dots li {
  line-height: 0;
  font-size: 0;
}
.blog-slider .slick-dots li + li {
  margin-left: 15px;
}
.blog-slider .slick-dots button {
  border-radius: 50%;
  border: none;
  width: 15px;
  height: 15px;
  background: #fff;
  cursor: pointer;
}
.blog-slider .slick-active button {
  background: #00b2a0;
}

.team {
  padding-bottom: 200px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}

.team__title {
  margin-bottom: 210px;
}

.team__items {
  display: flex;
  justify-content: space-between;
}

.team__item {
  width: 330px;
  text-align: center;
}

.team__img {
  margin-bottom: 25px;
  max-width: 330px;
  max-height: 450px;
  object-fit: cover;
}

.team__position {
  font-weight: 400;
  font-size: 14px;
}

.pricing {
  background: #f8f8f8;
}

.pricing__title {
  margin-bottom: 185px;
}

.pricing__items {
  display: flex;
  justify-content: space-between;
}

.pricing .pricing__list {
  display: flex;
  flex-direction: column;
  width: 360px;
  background: #fff;
  padding: 45px 43px;
  font-weight: 400;
}

.pricing__item {
  margin-bottom: 20px;
}
.pricing__item:last-child {
  margin-bottom: 0;
}

.pricing__item:nth-last-child(2) {
  margin-bottom: 60px;
}

.pricing__item-name,
.pricing__item-price {
  font-size: 36px;
  line-height: 40px;
  color: #01353e;
  text-align: center;
}

.pricing__item-name {
  margin-bottom: 58px;
}

.pricing__item-price {
  margin-top: auto;
}

.pricing__item-price span {
  font-size: 18px;
  line-height: 22px;
  vertical-align: middle;
}

.contacts__map {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 200px;
}

.contacts__title {
  margin-bottom: 245px;
}

.contacts__inner {
  display: flex;
}
.contacts__form {
  margin-right: 30px;
  width: 570px;
  font-weight: 400;
  font-size: 18px;
}

.contacts__form-input,
.contacts__form-textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid #dadada;
  padding: 0 15px;
  margin-bottom: 32px;
}
.contacts__form-input:focus,
.contacts__form-textarea:focus {
  outline: 1px solid #dadada;
}

.contacts__form-input::placeholder,
.contacts__form-textarea::placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #00b2a0;
  max-width: 260px;
}

.contacts__form-input {
  height: 40px;
}

.contacts__form-phone {
  margin-bottom: 53px;
}
.contacts__form-phone::-webkit-inner-spin-button,
.contacts__form-phone::-webkit-outer-spin-button {
  display: none;
}

.contacts__form-textarea {
  height: 155px;
  resize: none;
  margin-bottom: 75px;
}

.contacts__form-btn {
  background: transparent;
  cursor: pointer;
}

.contacts__info {
  background: #f8f8f8;
  padding: 50px;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 200px;
}

.contacts__info-text {
  margin-bottom: 65px;
}

.contacts__info-address {
  max-width: 330px;
}

.contacts__info-phone span {
  display: block;
}

.contacts__info-link {
  display: inline-block;
  margin-bottom: 65px;
  color: inherit;
}

.contacts__social {
  display: flex;
  justify-content: center;
}
.contacts__social-item + .contacts__social-item {
  margin-left: 10px;
}
.contacts__social-link {
  font-weight: 400;
  font-size: 24px;
  line-height: 18px;
  color: inherit;
}
.contacts__social-link:hover {
  color: #00b2a0;
}

.footer {
  background: #00b2a0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}
@media (max-width: 1200px) {
  .about__text {
    margin-right: 100px;
  }
  .education__img{
    display: none;
  }
}
@media(max-width: 1100px) {
  .benefits__items{
    display: block;
  }
  .benefits__item{
    margin-bottom: 30px;
  }
  .section{
    padding: 100px 0;
  }
}

@media(max-width: 1024px){
  .expertise__info{
    margin-right: 100px;
  }
}
@media (max-width: 830px) {
  .header__top {
    justify-content: space-between;
  }
  .header__menu {
    margin: 0;
  }
  .menu__btn {
    display: block;
    background-color: transparent;
    border: none;
    padding: 0;
  }
  .menu__list {
    position: absolute;
    left: 0;
    right: 0;
    top: 100px;
    background-color: #2f6773;
    display: block;
    text-align: center;
    opacity: 0.9;
    transform: translateY(-200%);
    transition: all 0.3s;
  }
  .menu__list.menu__list--active {
    transform: translateY(0);
  }
  ul.menu__list {
    padding: 15px 0;
  }
  .menu__item + li {
    margin-left: 0;
  }
  .menu__link {
    display: block;
    padding: 15px 0;
  }
  .header__title {
    font-size: 160px;
    line-height: 195px;
  }
  .title {
    font-size: 35px;
    line-height: 43px;
    margin-bottom: 60px;
  }
  .title::after {
    font-size: 50px;
    line-height: 60px;
  }
  .about {
    padding-bottom: 0;
  }
  .about__text {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .section {
    padding: 100px 0;
  }
  .benefits__items{
    margin-bottom: 40px;
  }
  .expertise__inner{
    display: block;
  }
  .expertise__content{
    margin-top: 30px;
  }
}

@media (max-width: 540px) {
  .header__title {
    font-size: 120px;
    line-height: 130px;
  }
  .header__subtitle {
    font-size: 18px;
    line-height: 20px;
  }
  .title {
    font-size: 23px;
    line-height: 33px;
    margin-bottom: 40px;
  }
  .title::after {
    font-size: 40px;
    line-height: 50px;
  }
  .section{
    padding: 50px 0;
  }
}

@media (max-width: 450px) {
  .header__title {
    font-size: 90px;
    line-height: 100px;
  }
  .header__subtitle {
    font-size: 14px;
    line-height: 16px;
  }
  .title{
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 20px;
  }
  .title::after{
    font-size: 30px;
    line-height: 40px;
  }
  .about__title{
    font-size: 15px;
  }
  .section{
    padding: 30px 0;
  }
  .benefits__item{
    width: 100%;
  }
  .benefits__item-title{
    font-size: 15px;
    line-height: 19px;
  }
}